<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnvDTE" version="16.10.31320.204" targetFramework="net472" />
  <package id="EnvDTE80" version="16.10.31320.204" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="16.10.31320.204" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.SDK.EmbedInteropTypes" version="15.0.36" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="16.10.31320.204" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.TemplateWizardInterface" version="16.10.31320.204" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="16.10.31320.204" targetFramework="net472" />
  <package id="stdole" version="16.10.31320.204" targetFramework="net472" />
</packages>