*.psess
*.vsp
*.log
*.err
*.wrn
*.suo
*.sdf
*.user
*.i
*.vspscc
*.opensdf
*.ipch
*.cache
*.tlog
*.lastbuildstate
*.ilk
*.VC.db
.vs
bin/
obj/
wiki/
/VSIX/src/Direct3DGame/ProjectTemplates/
d3d11game_xdk/
d3d11game_xdk_dr/
d3d12game_xdk/
d3d12game_xdk_dr/
d3d11game_xdk_cppwinrt/
d3d11game_xdk_cppwinrt_dr/
d3d12game_xdk_cppwinrt/
d3d12game_xdk_cppwinrt_dr/