*.psess
*.vsp
*.log
*.err
*.wrn
*.suo
*.sdf
*.user
*.i
*.vspscc
*.opensdf
*.ipch
*.cache
*.tlog
*.lastbuildstate
*.ilk
*.VC.db
.vs
wiki/
d3d11game_xdk/
d3d11game_xdk_dr/
d3d12game_xdk/
d3d12game_xdk_dr/