<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.SDK.Analyzers" version="17.7.79" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="17.14.15" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.VSSDK.BuildTools" version="17.14.2120" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.VsSDK.CompatibilityAnalyzer" version="17.14.2120" targetFramework="net472" developmentDependency="true" />
</packages>